<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ctsvehicle"
    android:versionCode="1"
    android:versionName="1.0" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" tools:ignore="OldTargetApi"/>
    <uses-permission android:name="android.permission.ACCESS_VEHICLE_OBD"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ctsvehicle.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.ctsvehicle.CtsBattery"
            android:label="@string/bat"
            />
        <activity
            android:name="com.example.ctsvehicle.CtsCode"
            android:label="@string/code"
            />
        <activity
            android:name="com.example.ctsvehicle.CtsVehicleMain"
            android:label="@string/vehicle"
            />
        <activity 
            android:name="com.example.ctsvehicle.CtsVehicleVin"
            android:label="@string/vin"
            />
        <activity 
            android:name="com.example.ctsvehicle.CtsVehicleGate"
            android:label="@string/gate"
            />
        <activity 
            android:name="com.example.ctsvehicle.CtsVehicleSeftBelt"
            android:label="@string/saftbelt"
            />
        <activity 
            android:name="com.example.ctsvehicle.CtsVehicleKey"
            android:label="@string/key"
            />
        <activity 
            android:name="com.example.ctsvehicle.CtsVehicleWindow"
            android:label="@string/window"
            />
        <activity 
            android:name="com.example.ctsvehicle.CtsVehicleMirror"
            android:label="@string/mirror"
            />
        <activity 
            android:name="com.example.ctsvehicle.CtsVehicleLight"
            android:label="@string/light"
            />
        <activity 
            android:name="com.example.ctsvehicle.CtsVehicleADAS"
            android:label="@string/adas"
            />
        <activity 
            android:name="com.example.ctsvehicle.CtsVehicleTemperature"
            android:label="@string/temperature"
            />
        <activity 
            android:name="com.example.ctsvehicle.CtsVehicleAirCondition"
            android:label="@string/aircondition"
            />
        <activity 
            android:name="com.example.ctsvehicle.CtsVehicleOil"
            android:label="@string/oil"
            />
        <activity 
            android:name="com.example.ctsvehicle.CtsVehicleSeftBag"
            android:label="@string/saftbag"
            />
    </application>


</manifest>
